@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,400italic,800,300);

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', Verdana, sans-serif;
}

.header {
  width: 960px;
  margin: 0 auto;
}

.main-logo {
  height: 115px;
  display: inline-block;
  line-height: 115px;
}

.logo {
  vertical-align: middle;
}

.main-menu {
  float: right;
}

.menu-link {
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  color: #989898;
  display: inline-block;
  height: 115px;
  line-height: 115px;
  vertical-align: middle;
  padding: 0 15px;
  text-transform: uppercase;
  box-sizing: border-box;
  margin-right: -5px;
}

.menu-link:last-child {
  margin-right: 0;
}

.menu-link_active,
.menu-link:hover {
  color: #3070a8;
  border-bottom: 4px solid #3070a8;
}

.presentation {
  background: transparent url(../images/presentation.jpg) center center no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 140px 0 100px;
}

.first-row {
  font-size: 36px;
  font-weight: 300;
}

.second-row {
  font-size: 48px;
  font-weight: 800;
  text-transform: uppercase;
  display: block;
}

.presentation-main-row {
  width: 880px;
  margin-left: auto;
  margin-right: auto;
}

.presentation-secondary-row {
  font-size: 20px;
  font-style: italic;
  width: 630px;
  margin-left: auto;
  margin-right: auto;
}

.presentation-button {
  font-size: 16px;
  font-weight: bold;
  padding: 20px 65px;
  border: 1px solid white;
  background-color: transparent;
  border-radius: 4px;
  color: white;
  text-transform: uppercase;
}
