html, body {
    margin: 0;
    padding: 0;
}

body {
    width: 280px;
    min-height: 280px;
    padding-top: 20px;
    padding-left: 20px;
    font-size: 14px;
    font-family: "Arial", sans-serif;
    line-height: 1.2;
    background: #fff;
}

.container {
    display: block;
    -padding: 20px;
    width: 296px;
    height: 468px;
    background-color: #ee8129;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 3px 4px #e0eef5;
}

.title {
    padding-top: 26px;
    padding-bottom: 15px;
    text-align: center;
    font-size: 23px;
    font-weight: bold;
}

.layer2 {

    background-color: #fff;
    margin: 4px;
    height: 391px;
    color: #35495a;
}

.iconic {
    font-size: 23px;
    padding-top: 20px;
    text-align: center;
}

.dollar {
    vertical-align: top;
}
.price {
    font-size: 23px;
    padding-top: 20px;
    text-align: center;
    color: #35495a;
    font-weight: bold;
}
.big {
    font-size: 65px;
    font-weight: 100;

}

.monthly {
vertical-align: sub;
font-size: 18px;}

.layer3 {
    width: 259px;
    /* height: 132px; */
    text-align: center;
    display: block;
    position: relative;
    top: -237px;
    left: 15px;
    list-style-image: url(Checked.png);
    margin-left: 0;
    padding-left: 0;
}

li {
    /* display: block; */
    color: #888c94;
    text-align: left;
    /* height: 33px; */
    vertical-align: middle;
    /* list-style-type: none; */
    padding-left: 50px;
    padding-top: 8px;
    padding-bottom: 8px;
    list-style: none;
    background: url(Checked.png) no-repeat 30px 8px;
    /* padding-left: 24px; */
    border: 1px;
    margin-bottom: 1px;
}

.first-row {
    background-color: #edf5fd;
}

.second-row {
    background-color: #f5f5f6;
}

.layer4 {
    width: 252px;
    height: 38px;
    background-color: #ee8129;
    color: #fff;
    border-radius: 5px;
    text-align: center;
    position: relative;
    top: -230px;
    left: 20px;
    box-shadow: 0 4px 0px 0px #b3560b;
}

.Enroll {
    padding-top: 10px;
    font-weight: bold;
}
